.profile-dropdown {
  position:fixed;
  margin-top: 50px;
  transform:translate;
  
}

.navbar{
display: flex;
flex-direction: row;
list-style-type: none;
gap: 2.5rem;
padding-top: 3%;
padding-left: 2%;
}
